html, body {
    background-color: #212529;
}

.gulag-avatar {
    background-image: url("assets/images/gulag-avatar.png");
    background-repeat: no-repeat;
    width: 512px;
    height: 363px;
    margin: 0;
    padding: 0;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-color: transparent;
}

.link-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.link-button:focus {
    outline: none;
}