/* Dark Background */
html, body {
    background-color: #212529;
}


/* Footer */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

footer {
    position: absolute !important;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer > .navbar-nav {
    flex-direction: row;
}

footer > .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

/* Gulag Mascot/Avatar */
.gulag-avatar {
    background-image: url("assets/images/gulag-avatar.png");
    background-repeat: no-repeat;
    width: 512px;
    height: 363px;
    margin: 0;
    padding: 0;
}

/* Clean Table Style */
.table-dark td, .table-dark th, .table-dark thead th {
    border-color: transparent;
}

/* Navigation Button Link */
.link-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.link-button:focus {
    outline: none;
}

/* Searchbar */
.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
}

.searchbar:hover {
    background-color: white;
    transition: background-color 0.4s ease-in-out;
}

.search_input {
    border: 0;
    outline: 0;
    width: 0;
    color: transparent;
    caret-color: transparent;
    background: none;
    line-height: 2px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 350px;
    caret-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    transition: width 0.4s linear;
    
}

.searchbar:hover > .search_icon {
    color: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.search_icon {
    height: 20px;
    width: 20px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none;
}

/* Move reCAPTCHA v3 Badge */
.grecaptcha-badge {
    bottom: 80px !important;
}

/* Admin Panel */
.sidebar {
    height: 100vmin;
}

.admin-stats > .btn {
    width: 14vw;
}