{% extends "base.html" %}
{% block title %} Create a clan {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/clans/claninfo.css">
<link rel="stylesheet" href="/static/css/pages/settings.css">
<link rel="stylesheet" href="/static/css/style.css">

<div id="settingsboard">
  <div class="leaderboard-banner ug-settings links-teilung main-banner">
    <div class="main-selector">
      <span class="simple-banner-desc">You're logged in as {{ session.user_data['name'] }}</span>
    </div>
    <div class="banner-text">
      Clan Information
    </div>
  </div>

  <div class="main-block">
    <div class="leaderboard-main-bg table-responsive ug-claninfo rechts-teilung leaderboard-main-bg">
      <div class="left-side-box">
        <div class="header">
            <svg class="svg-inline--fa fa-chart-pie fa-w-17" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-pie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512" data-fa-i2svg=""><path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path></svg>
            Statistics
          </div>
        <div class="clan-info-board">
          <table>
            <tbody>
              <tr>
                <td>Name
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Tag
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Ranked Score
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Total Score
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>PP
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Accuracy
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Members
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Playcount
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
              <tr>
                <td>Rank
                </td>
                <td class="right-aligned">PLACEHOLDER
                </td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
      <div class="right-side-box">
        <div class="header">
            <svg class="svg-inline--fa fa-user-friends fa-w-20" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-friends" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg=""><path fill="currentColor" d="M192 256c61.9 0 112-50.1 112-112S253.9 32 192 32 80 82.1 80 144s50.1 112 112 112zm76.8 32h-8.3c-20.8 10-43.9 16-68.5 16s-47.6-6-68.5-16h-8.3C51.6 288 0 339.6 0 403.2V432c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48v-28.8c0-63.6-51.6-115.2-115.2-115.2zM480 256c53 0 96-43 96-96s-43-96-96-96-96 43-96 96 43 96 96 96zm48 32h-3.8c-13.9 4.8-28.6 8-44.2 8s-30.3-3.2-44.2-8H432c-20.4 0-39.2 5.9-55.7 15.4 24.4 26.3 39.7 61.2 39.7 99.8v38.4c0 2.2-.5 4.3-.6 6.4H592c26.5 0 48-21.5 48-48 0-61.9-50.1-112-112-112z"></path></svg>
            Members
          </div>
        <div class="member-board">
          <div class="member-cell owner">
            <img class="image" src="https://a.iteki.pw/1" width="128" height="128"><br>
            <span class="text">PLACEHOLDER</span>
          </div>
          <div class="member-cell">
            <img class="image" src="https://a.iteki.pw/1" width="128" height="128"><br>
            <span class="text">PLACEHOLDER</span>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
