{% extends "base.html" %}
{% block title %} Create a clan {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/clans/create.css">

<div class="main-block is-marginless is-paddingless is-auth">
  <div class="columns is-reset is-weeb">
    <div class="column title-block">
      <h1 class="title" id="regtitle">Create a clan</h1>
    </div>
    <div class="column icon-block">
      <i class="fas fa-users is-headericon"></i>
    </div>
  </div>
  <div class="columns is-reset is-lcentered is-block">
    <div class="box">
      <div class="login-bg"></div>
      <form action="/clans/create" method="post" class="form-content">
        <div class="field">
          <label for="" class="label">Clan name</label>
          <div class="control has-icons-left">
            <input type="username" name="c_name" placeholder="e.g. Iteki Staff" class="input" required>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Clan tag</label>
          <div class="control has-icons-left">
            <input type="username" name="c_tag" placeholder="e.g. Iteki" class="input" required>
            <span class="icon is-small is-left">
              <i class="fas fa-tag"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label for="" class="label">Clan description</label>
          <div class="control has-icons-left">
            <input type="text" name="description" placeholder="Optional" class="input">
            <span class="icon is-small is-left">
              <i class="fas fa-pen"></i>
            </span>
          </div>
        </div>
        <div class="mt-5"></div>
        <div class="field">
          <button type="submit" class="button is-primary">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% if flash %}
<div class="paper-snackbar is-{{ status }}" style="opacity: 1;">
  {{ flash }}
</div>
{% endif %}

<script src="/static/js/pages/clans/create.js"></script>
{% endblock %}
