
/* layout */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    padding: 20px;
}

.main-block {
    margin-top: 16px;
    width: inherit;
    background: hsl(var(--main), 10%, 15%);
}

.is-vcentered {
    align-self: center;
}

.is-lcentered {
    justify-content: center;
}

.is-padless {
    padding: 0 !important;
}

.is-reset {
    padding: 0 !important;
    margin: 0 !important; 
}

.is-padding {
    padding: 1.25rem;
}

.is-locked {
    width: 1152px;
}

.is-weeb {
    background: hsl(var(--main),30%,50%);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.is-maxheight {
    height: 100%;
}

.is-headericon {
    font-size: 74px;
}

a.foot-link {
    margin: 8px;
}

/* navbar stuff */
.navbar-logo {
    font-size: 22px;
    font-weight: 500;
}

.navbar.is-spaced {
    padding: 0rem 2rem;
}