
/* layout */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    padding: 20px;
}

.main-block {
    margin-top: 16px;
    width: 1152px;
    background: hsl(var(--main), 10%, 15%);
}

.is-vcentered {
    align-self: center;
}

.is-padless {
    padding: 0 !important;
}

.is-reset {
    padding: 0 !important;
    margin: 0 !important; 
}

a.foot-link {
    margin: 8px;
}

/* navbar stuff */
.navbar-logo {
    font-size: 22px;
}

/* gulag mascot/avatar */
.gulag-avatar {
    background-image: url("/static/images/gulag-avatar.png");
    background-repeat: no-repeat;
    width: 512px;
    height: 363px;
    left: 50px;
    margin: 0;
    padding: 0;
    position: relative;
}