/* layout */

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    height: -webkit-fill-available;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    padding: 20px;
    margin-top: 39px;
}

.main-block {
    width: inherit;
    background: hsl(var(--main), 10%, 15%);
}

/* stuffs */

.is-vcentered {
    align-self: center;
}

.is-lcentered {
    justify-content: center;
}

.is-lefttext {
    text-align: left !important;
}

.is-padless {
    padding: 0 !important;
}

.is-reset {
    padding: 0 !important;
    margin: 0 !important;
}

.is-padding {
    padding: 1.25rem;
}

.is-locked {
    width: 1152px;
}

.is-weeb {
    background: hsl(var(--main), 30%, 50%);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

.is-maxheight {
    height: 100%;
}

.is-headericon {
    font-size: 74px;
}

.is-active .navbar-menu {
    display: block;
}

.my-con {
    margin-top: 92px;
}

a.foot-link {
    margin: 8px;
}

.container {
    max-width: inherit;
    -webkit-animation: slideup 0.2s ease;
}

@-webkit-keyframes slideup {
    0% {
        -webkit-transform: translateY(10px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1;
    }
}

.button:hover {
    transform: translateY(-4px);
}

/* navbar */

.navbar {
    position: fixed !important;
    width: 100%;
    transition: 0.2s ease;
    min-height: 0rem;
}

.navbar-logo {
    font-size: 22px;
    font-weight: 500;
}

.navbar.is-spaced {
    padding: 0rem 2rem;
}

.minimized {
    width: 100%;
    top: 0;
    backdrop-filter: blur(4px);
    background-color: hsla(var(--main), 50%, 50%, 0.7) !important;
}

.minimized.navbar {
    height: 48px;
    padding: 0px 40px;
}

.minimized .navbar-logo {
    font-size: 15px !important;
}

.minimized .navbar-item {
    font-size: 12px;
}

.minimized .navbar-item .button {
    padding-bottom: calc(.25em - 1px);
    padding-left: 0.8em;
    padding-right: 0.8em;
    padding-top: calc(.25em - 1px);
    font-size: 12px;
}

.navbar-item {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.12);
    font-weight: 430;
    position: relative;
    transition: 0.3s ease;
}

.navbar-start:hover .navbar-item {
    opacity: 0.6;
    font-weight: 500;
}

.navbar-item:hover, .navbar-item.navbar-dropdown:hover .navbar-item {
    opacity: 1 !important;
}

.navbar.is-primary .navbar-end .navbar-link.is-active, .navbar.is-primary .navbar-end .navbar-link:focus, .navbar.is-primary .navbar-end .navbar-link:hover, .navbar.is-primary .navbar-end>a.navbar-item.is-active, .navbar.is-primary .navbar-end>a.navbar-item:focus, .navbar.is-primary .navbar-end>a.navbar-item:hover, .navbar.is-primary .navbar-item.has-dropdown.is-active .navbar-link, .navbar.is-primary .navbar-item.has-dropdown:focus .navbar-link, .navbar.is-primary .navbar-item.has-dropdown:hover .navbar-link, .navbar.is-primary .navbar-start .navbar-link.is-active, .navbar.is-primary .navbar-start .navbar-link:focus, .navbar.is-primary .navbar-start .navbar-link:hover, .navbar.is-primary .navbar-start>a.navbar-item.is-active, .navbar.is-primary .navbar-start>a.navbar-item:focus, .navbar.is-primary .navbar-start>a.navbar-item:hover {
    background-color: transparent;
    color: #fff;
}

.navbar.is-primary .navbar-brand>a.navbar-item:hover {
    background-color: transparent;
    color: #fff;
}

.navbar-logo {
    transition: 0.2s ease;
    font-size: 1.2rem;
}

.navbar-logo:hover {
    transform: scale(1.05);
}

.navbar-dropdown .navbar-item {
    padding: 6px !important;
    color: white;
    opacity: 1;
}

.navbar-brand, .navbar-tabs {
    min-height: 0rem;
}

.navbar-dropdown {
    width: 152px;
}

/* auth notification */

.paper-snackbar {
    transition-property: opacity, bottom, left, right, width, margin, border-radius;
    transition-duration: 0.35s;
    transition-timing-function: ease;
    background-color: #bf4040;
    color: white;
    padding: 18px 24px;
    opacity: 1;
}

/* notification */

.noti-banner {
    display: flex;
    padding: 8px;
    font-size: 12px;
    color: #fff;
    background-color: hsl(var(--main), 10%, 15%);
    z-index: 1;
    flex-direction: column;
    text-align: center;
    position: relative;
}

@media (min-width:900px) {
    .noti-banner {
        flex-direction: row;
        border-radius: 16px;
        text-align: left;
        margin-bottom: 12px;
    }
}

.noti-banner--col {
    margin: 5px
}

.noti-banner--col--icon {
    height: 30px;
    flex: none;
    background-position: 50%;
    background-repeat: no-repeat
}

@media (min-width:900px) {
    .noti-banner--col--icon {
        height: auto;
        width: 30px
    }
}

.noti-banner--alert .noti-banner--col--icon, .noti-banner--warning .noti-banner--col--icon {
    background-image: url(https://osu.ppy.sh/assets/images/exclamation-icon.0db8a908.svg)
}

.noti-banner--col--label {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-bottom: 13px
}

@media (min-width:900px) {
    .noti-banner--col--label {
        padding-right: 18px;
        padding-bottom: 0
    }
}

.noti-banner--col--label:after {
    position: absolute;
    content: "";
    height: 3px;
    background-color: hsl(var(--main),50%,50%);
    border-radius: 10px;
    left: 0;
    bottom: 0;
    right: 0;
}

@media (min-width:900px) {
    .noti-banner--col--label:after {
        width: 3px;
        height: auto;
        top: 0;
        left: auto
    }
}

.noti-banner--type {
    font-weight: 700;
    text-transform: capitalize
}

.noti-banner--text a {
    color: #fc2
}

.noti-banner--text a:active, .noti-banner--text a:focus, .noti-banner--text a:hover {
    color: #fd5
}