.ug-claninfo{
  display: inline-flex;
  position: relative;
  width: 100%;
}
.left-side-box, .right-side-box{
  width: 50%;
}
.clan-info-board{
  position: relative;
  top: 25%;
}
.member-cell{
  background: hsl(var(--main), 10%, 20%);
  width: 156px;
  padding: 5px;
  text-align: center;
  display: inline-block;
}
.member-cell .text{

  width: 100%;
}
