.ug-claninfo{
  display: inline-flex;
  position: relative;
  width: 100%;
}
.left-side-box, .right-side-box{
  width: 50%;
}
.clan-info-board{
  margin-top: 10px;
}
.member-cell{
  background: hsl(var(--main), 10%, 20%);
  width: 128px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
}
.member-board{
  margin-top: 10px;
}
.member-cell .text{
  width: 100%;
}
.member-cell.owner{
  background: hsl(var(--main), 70%, 30%);
}
.header{
  font-size: 18px;
  font-weight: 500;
  background: hsl(var(--main), 50%, 30%);
  border-radius: 16px;
  padding: 5px 5px;
  border: 1px solid transparent;
  width: 25%;
}
.clan-info-cell{
  text-align: justify;
}
.right-aligned{
  text-align: right!important;
  margin-left: auto;
  font-weight: 500;
}
tr {
  display: flex;
  padding: 8px;
}
tbody, table{
  width: 90%;
}
