.ug-claninfo{
  display: inline-flex;
  position: relative;
  width: 100%;
}
.left-side-box, .right-side-box{
  width: 50%;
}
.clan-info-board{
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.member-cell{
  background: hsl(var(--main), 10%, 20%);
  width: 156px;
  padding: 5px;
  text-align: center;
  display: inline-block;
}
.member-cell .text{

  width: 100%;
}
.member-cell.owner{
  background: hsl(var(--main), 70%, 30%);
}
.header{
  font-size: 18px;
  font-weight: 500;
  background: hsl(var(--main), 50%, 30%);
  border: 16px;
  padding: 10px 10px;
}
