{% extends 'settings/base.html' %}
{% block title %} Avatar {% endblock %}

{% block content %}

<style>
  html {
    --base: 235;
    --base-deg: 390.0deg;
  }
</style>
<link rel="stylesheet" href="/static/css/pages/settings/style.css">

<div class="main-block">
  {% include "settings/sidebar.html" %}
  <div class="block-content right" id="settings-content">
    <div id="general" class="single-right-block">
      <div class="right-block-header">
        Avatar
      </div>
  </div>
</div>

{% endblock %}