.main-block {
    height: auto;
    width: auto;
    max-width: 1152px;

    background-color: hsl(var(--main),10%,15%);
    color: #fff;
}

.title-block {
    height: auto;
    width: auto;
    padding: 38px 22px 10px 22px;
    background-color: hsl(var(--main), 30%, 50%);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.doc-title {
    font-size: 1.7em;
    font-weight: 500;
}

.doc-block {
    padding: 22px;
}

.doc-subtitle {
    font-size: 1.5em;
    font-weight: 500;
}

ol {
    padding: 0px 0px 10px 20px;
}

ol li:before {
    counter-increment: section !important;
    font-weight: 700;
    content: counters(section, ".") ". ";
}

li {
    list-style-type: none;
}
.doc-listing{
    display:grid;
}