/* gulag mascot/avatar */
.gulag-avatar {
    background-image: url("/static/images/pippi.png");
    background-repeat: no-repeat;
    /*     available avatar widths & heights      */
    /* gulag.png:   width: 512px; height: 363px;  */
    /* pippi.png:   width: 372px; height: 432px;  */
    width: 372px;
    height: 432px;
    left: 50px; 
    margin: 0;
    padding: 0;
    position: relative;
}

#pprecords{
    display: flex;

}
.main-block {
    width: 1024px;
}
.pp{
    width: fit-content;
    margin-top: 20px;
    display: flex;
    padding: 10px;
    margin: 10px;
}
.grpp{
    padding: 10px!important;
}

@media screen and (max-width: 1023px) {
    .gulag-avatar {
        display: none;
    }
    
    .main-block {
        width: initial;
        height: 285px;
    }

    #mascot {
        display: none;
    }

    .columns {
        height: 285px;
    }
}

