@font-face {
    font-family: osu-mode;
    src: url(/static/fonts/extra.ttf) format("truetype")
}

a,
a:hover {
    text-decoration: none!important
}

*,
 ::after,
 ::before {
    box-sizing: border-box
}

.flag {
    max-width: 24px;
}

#leaderboard {
    width: 1024px;
}

.main-block {
    background-color: hsl(var(--main), 10%, 15%);
    margin-top: 0;
    width: auto;
}

.leaderboard-banner {
    background-image: url('../../images/165801.jpg');
    height: 194px;
    border-radius: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.leaderboard-column {
    background-color: #eee;
    color: #222;
    height: 38px;
    font-size: 12px;
    background-color: hsl(var(--main), 15%, 25%);
}

.leaderboard-main-bg {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 24px 24px;
}

.leaderboard-table {
    width: 100%;
    white-space: nowrap;
    text-align: center;
    border-spacing: 0 3px;
    border-collapse: separate;
    padding-bottom: 24px;
}

.t-column {
    padding: 6px 0;
}

.column-player-rank {
    padding: 0 10px;
    text-align: center;
    background-color: hsl(var(--main), 15%, 27%) !important;
    min-width: 44px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
}

.column-player-name {
    padding: 10px 10px;
    font-weight: 600;
    text-align: left;
    font-size: 13px;
}

.column-player-name a {
    color: #fff !important;
}

.t-heading {
    font-weight: 400;
    color: #fff;
    opacity: .7;
    padding: 5px 12px;
    text-align: center !important;
    font-size: 12px;
}

.t-heading--main {
    width: 100%;
}

.t-column:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.t-column:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

tr.leaderboard-column td {
    font-weight: 600;
    border-bottom: hsl(var(--main), 20%, 30%);
    transition: .1s background-color;
    color: #fff !important;
    text-align: center;
}

.t-column--dimmed {
    color: #555;
    font-weight: 400 !important;
}

table td,
table th {
    vertical-align: baseline;
}

.leaderboard-column:hover td:not(:first-child) {
    background-color: hsl(var(--main), 20%, 30%);
}

.main-banner {
    background-size: cover;
    display: flex;
    background-position-x: 50%;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    justify-content: space-between;
    position: relative;
    padding: 0px 36px;
}

.main-banner>* {
    z-index: 2;
}

.banner-text {
    font-size: 46px;
    color: #fff;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, .33);
}

.main-banner::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    z-index: 1;
}

.main-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: 14px;
    justify-content: center;
    position: relative;
}

.mode-select {
    cursor: pointer;
    text-align: center;
    padding-bottom: 2px;
    margin-right: 12px;
    color: #fff;
    font-size: 15px;
    margin-left: 12px;
    opacity: .7;
    transition: .2s ease;
    content: center;
}

.mode-select:hover {
    border-bottom-width: 3px;
    opacity: 1;
    color: #fff;
}

.selector {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 27px;
    z-index: 2;
    width: 100%;
}

.selectright {
    margin-left: auto;
    display: flex;
    flex-direction: row;
}

.selectleft {
    display: flex;
    flex-direction: row;
}

.simple-banner-swtich {
    color: #fff !important;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, .33);
    padding: 0 12px;
    opacity: .5;
    cursor: pointer;
    transition: .3s ease;
    font-size: 14px;
    margin: 10px 8px;
}

.simple-banner-swtich:hover {
    opacity: 1;
}

.mode-select.--selected,
.simple-banner-swtich.switch--active {
    border-bottom-width: 6px;
    opacity: 1;
    font-weight: 600;
}

.mode-icon {
    font-family: osu-mode;
    color: #fff !important;
    font-size: 14px;
    width: 19px;
    height: 19px;
    margin-right: 4px;
    font-weight: 400;
    font-style: initial;
}

.mode-osu::before {
    content: "\E800";
    position: relative;
}

.mode-catch::before {
    content: "\E801";
    position: relative;
}

.mode-mania::before {
    content: "\E802";
    position: relative;
}

.mode-taiko::before {
    content: "\E803";
    position: relative;
}

.main-selector {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.leaderboard-table>tbody {
    transition: .2s opacity;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .2;
}

@media only screen and (max-width: 1000px) {
    #leaderboard {
        width: 780px;
    }
}

@media only screen and (max-width: 780px) {
    #leaderboard {
        width: 620px;
    }
}

@media only screen and (max-width: 576px) {
    #leaderboard {
        max-width: 445px;
    }

    .simple-banner-swtich {
        font-size: 10px;
    }

    .banner-text {
        font-size: 36px;
    }
}
