{% extends 'base.html' %}
{% block title %} Documentation {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/docs.css">
<div class="main-block">
	<div class="title-block">
		<span>Select your topic!</span>
		<h2 class="doc-title">
			Documentation
		</h2>
	</div>
	<div class="columns is-multiline">
		<div class="column is-5">Test</div>
		<div class="column is-5">Test</div>
	</div>
</div>
{% endblock %}


<!--
	<a href="/doc/{{ doc }}">
		<div class="doc-block">
			<div class="columns is-marginless flex-vcenter">
				<div class="column is-1">
					<h1 class="title">{{ loop.index }}</h1>
				</div>
				<div class="column">
					<h3 class="title">
						{{ doc.capitalize() }}
					</h3>
				</div>
			</div>
		</div>
	</a>
-->

