{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/home.css">

<div class="main-block">
  <div id="grid" class="columns is-reset is-flex">
    <div class="column is-padless" id="mascot">
      <div class="gulag-avatar"></div>
    </div>
    <div class="column is-vcentered" id="title">
      <div class="has-text-centered">
        <p class="title">Welcome to {{ appName() }}.</p>
        <p class="subtitle">
          We are an osu! private server built from the ground up with many
          unique features not seen elsewhere - for more information, check
          out <a href="http://github.com/cmyui/gulag">gulag</a>
          and <a href="https://github.com/Yo-ru/gulag-web">gulag-web</a>
          on Github - we're fully open source!</p>
        {% if not session.authenticated %}
        <div class="buttons is-centered">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
