{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/pages/home.css">

<div class="main-block">
  <div id="grid" class="columns is-reset is-flex">
    <div class="column is-padless" id="mascot">
      <div class="gulag-avatar"></div>
    </div>
    <div class="column is-vcentered" id="title">
      <div class="has-text-centered">
        <p class="title">{{ gettext('Welcome to ') }}{{ appName() }}.</p>
        <p class="subtitle">{{ gettext('We are a osu! private server mainly based around the relax mod -') }}
          {{ gettext('featuring score submission, leaderboards & rankings, custom pp,') }}
          {{ gettext('and much more for both relax and vanilla osu!') }}</p>
        <div class="buttons is-centered">
          <a class="button is-primary">
            <strong>{{ gettext('Sign up') }}</strong>
          </a>
          <a class="button is-light">
            {{ gettext('Log in') }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}