{% extends 'base.html' %}
{% block title %} Settings {% endblock %}

{% block content %}
<link rel="stylesheet" href="static/css/pages/settings.css">
<div id="settingsboard">
	<div class="leaderboard-banner ug-settings links-teilung main-banner">
		<div class="main-selector">
			<span class="simple-banner-desc">You're logged in as {{ session.user_data['name'] }}!</span>
		</div>
		<div class="banner-text">Settings</div>
		<div class="selector">
			<a class="ug-a simple-banner-swtich switch--active">Profile</a>
			<a class="ug-a simple-banner-swtich">Userpage</a>
			<a class="ug-a simple-banner-swtich">Avatar</a>
			<a class="ug-a simple-banner-swtich">Password</a>
			<a class="ug-a simple-banner-swtich">Create Clan</a>
			<a class="ug-a simple-banner-swtich">Clan settings</a>
		</div>
	</div>
	<div class="main-block">
		<div class="leaderboard-main-bg table-responsive ug-settings rechts-teilung leaderboard-main-bg">
			<h1 class="descriptor-header">Here you can change your Alias and E-Mail address!</h1>
			<span class="descriptor-field">Username</span>
			<br>
			<input class="descriptor-textfield --readonly" type="text" readonly value="{{ session.user_data['name'] }}">
			<br>
			<span class="descriptor-field">E-Mail</span>
			<br>
			<input class="descriptor-textfield" type="text" placeholder="Enter new E-Mail address">
			<br>
			<p class="descriptor-field">Your current E-Mail address is:<br> <span class="descriptor-field hidden-email-text">PLACEHOLDER EMAIL</span></p>

		</div>
	</div>
</div>
{% endblock %}
