{% extends 'base.html' %}
{% block title %} Settings {% endblock %}

{% block content %}
<link rel="stylesheet" href="static/css/pages/settings.css">
<div id="settingsboard">
	<div class="leaderboard-banner ug-settings links-teilung main-banner">
		<div class="main-selector">
			<span class="simple-banner-desc">You're logged in as {{ session.user_data['name'] }}!</span>
		</div>
		<div class="banner-text">Settings</div>
		<div class="selector">
			<a class="ug-a simple-banner-swtich switch--active">Profile</a>
			<a class="ug-a simple-banner-swtich">Userpage</a>
			<a class="ug-a simple-banner-swtich">Avatar</a>
			<a class="ug-a simple-banner-swtich">Password</a>
			<a class="ug-a simple-banner-swtich">Create Clan</a>
			<a class="ug-a simple-banner-swtich">Clan settings</a>
		</div>
	</div>
	<div class="leaderboard-main-bg table-responsive ug-settings rechts-teilung leaderboard-main-bg">
		<h1>This is a sample!</h1>
	</div>
</div>
{% endblock %}
